/* General styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ruda", sans-serif;
    font-weight: 400;
}

html{
    font-size: 62.5%;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1440px;
    padding: 0 6rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.background-color-black{
    background-color: #000;
}

.text-default{
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    letter-spacing: 0.225rem;
}

.text-default-short-size{
    color: #fff;
    font-size: 2rem;
    line-height: 4rem;
    letter-spacing: 0.18rem;
}

.title-default{
    color: #fff;
    font-size: 7.2rem;
    font-weight: 700;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.title-default::after{
    content: "";
    position: absolute;
    width: 48.2rem;
    height: 0.4rem;
    background-color: #F2C94C;
    position: absolute;
    bottom: 0.2rem;
    left: 50%;
    transform: translateX(-50%);
}

.section-title{
    color: #fff;
    font-size: 6rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.section-title::after{
    content: "";
    position: absolute;
    width: 47.4rem;
    height: 0.9rem;
    background-color: #F2C94C;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
}

/* Header */
header{
    background-color: #000;
    width: 100%;
    height: 8rem;
    padding: 2.5rem 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo{
    font-size: 2.4rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

/* Presentation section */
#presentation{
    background-image: url('./img/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 95.3rem;
    width: 100%;
    background-attachment: fixed;
    background-position: top center;
    background-color: #000;
}

.title-presentation{
    padding-top: 30rem;
}

.text-presentation{
    margin: 0 auto;
    text-align: center;
    max-width: 75.3rem;
    margin-top: 2rem;
}

/* About section */
#about-us{
    padding-top: 7.5rem;
}

.about-us-content{
    display: flex;
    justify-content: space-between;
    margin-top: 9rem;
}

.text-about-us{
    max-width: 47.4rem;
}

/* Our Address section */
.title-our-address, .title-our-menu{
    text-align: center;
    padding-top: 13rem;
}

.our-address-content{
    display: flex;
    align-items: center;
    gap: 8.7rem;
    margin-top: 9rem;
}

.our-address-content img{
    max-width: 56.7rem;
}

.info-our-address-item{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

/* Menu section */
#our-menu{
    padding-bottom: 9.5rem;
}

.legend-menu{
    text-align: center;
    margin-top: 3.5rem;
}

.menu-photos{
    margin: 9rem 0 6rem 0;
    display: flex;
    justify-content: space-between;
}

.action-menu{
    display: flex;
    justify-content: center;
}

.menu-button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    border: 1px solid #F2C94C;
    color: #F2C94C;
    background-color: transparent;
    width: 12.9rem;
    height: 5.4rem;
    text-transform: uppercase;
    cursor: pointer;
}

.menu-button:hover{
    border-color: #fff;
    color: #fff;   
}

/* Our Company section */
#our-company{
    background-image: url('img/pre-footer-pizza.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    background-color: #000;
    background-repeat: no-repeat;
    height: 94.4rem;
    width: 100%;
}

.title-our-company{
    padding-top: 58rem;
}

.social-company-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4.6rem;
}

#our-company img{
    height: 3.8rem;
}

/* Footer */
footer{
    background-color: #000;
    width: 100%;
    height: 8rem;
    padding: 2.5rem 0;
}

.copyright{
    font-size: 2.4rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}